.App {
  max-width: 800px;
  margin: 70px auto;
  font-family: "DM Sans", sans-serif;
}

.App footer {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: white;
}

.App .footer-link {
  color: #f1c75d;
}
