.Weather {
  background: #3d536dcd;
  padding: 30px 30px 15px;
  border-radius: 6px;
  color: white;
  max-width: 800px;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
}

.Weather .search-form {
  max-width: 60%;
}

.Weather .search-wrap {
  padding: 3px;
  margin: 0;
  border-radius: 20px;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 25%);
  height: 40px;
  width: 100%;
  font-size: 16px;
  background: #6a8fbd;
}

.Weather .search-input::placeholder {
  color: white;
  opacity: 0.8;
}

.Weather .search-input[type="search"] {
  background: transparent;
  border: none;
  box-shadow: none;
  color: white;
  width: 260px;
}

.Weather button.btn {
  padding: 0;
  margin: 0;
  border: none;
}

.Weather .btn:focus {
  border: none;
}

.Weather .search-icon {
  color: white;
  font-size: 20px;
  margin: 0 15px 5px;
}

.Weather h1 {
  font-size: 32px;
  margin: 20px 0 0 0;
}

.Weather p {
  margin: 0;
}

.Weather .temperature {
  display: inline-block;
  margin: 40px 5px;
}

.Weather .temperature-value {
  font-size: 64px;
  font-weight: 600;
  line-height: 1;
}

.Weather .unit {
  font-size: 20px;
  position: relative;
  top: -32px;
  cursor: pointer;
}

.Weather .active {
  font-weight: 900;
  color: white;
  cursor: default;
}

.Weather .location-btn {
  color: white;
  background-color: #6a8fbd;
  font-size: 22px;
  margin-bottom: 10px;
  border-style: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 25%);
}

.Weather .location-btn:hover {
  background-color: #82aee4;
  font-size: 24px;
}

.Weather footer {
  font-size: 13px;
  margin-top: 50px;
  color: white;
  text-align: center;
}

.Weather .footer-link {
  color: white;
}

.Weather .footer-link:hover {
  color: #f1c75d;
}
