.Weather {
  background: #3d536dcd;
  padding: 30px 30px 15px;
  border-radius: 6px;
  color: white;
  max-width: 800px;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
}

.Weather .search-form {
  max-width: 60%;
}

.Weather .search-wrap {
  padding: 3px;
  margin: 0;
  border-radius: 20px;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 25%);
  height: 40px;
  width: 100%;
  font-size: 16px;
  background: #6a8fbd;
}

.Weather .search-input::placeholder {
  color: white;
  opacity: 0.8;
}

.Weather .search-input[type="search"] {
  background: transparent;
  border: none;
  box-shadow: none;
  color: white;
  width: 260px;
}

.Weather button.btn {
  padding: 0;
  margin: 0;
  border: none;
}

.Weather .btn:focus {
  border: none;
}

.Weather .search-icon {
  color: white;
  font-size: 20px;
  margin: 0 15px 5px;
}

.Weather .location-btn {
  color: white;
  background-color: #6a8fbd;
  font-size: 22px;
  border-style: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 25%);
}

.Weather .location-btn:hover {
  background-color: #82aee4;
  font-size: 24px;
}

@media (max-width: 768px) {
  .Weather {
    text-align: center;
    max-width: 100%;
  }

  .background {
    padding: 50px 70px !important;
  }

  .Weather .search-form {
    margin-left: auto;
    margin-right: auto;
  }

  .Weather .search-input {
    width: 220px !important;
  }

  div .main-conditions {
    flex-direction: column;
    margin: 60px 0;
  }

  .weather-icon {
    margin: 0 auto !important;
  }

  div.temperature {
    margin: 0 !important;
  }

  .Weather span.weather-details {
    display: block;
    margin: 0 !important;
  }
}

@media (max-width: 575px) {
  .background {
    padding: 0 !important;
  }
}

@media (max-width: 360px) {
  .Weather {
    width: 100%;
    padding: 30px 10px 15px !important;
  }
}

@media (max-width: 280px) {
  .Weather .search-input {
    width: 150px !important;
    padding: 3px 6px;
  }

  .Weather .search-input::placeholder {
    font-size: 14px;
  }

  .Weather .date {
    font-size: 14px;
  }
}
